<a href="https://colab.research.google.com/github/ak2205/pythontraining2024/blob/main/July3_Tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **July 3 Tasks**

**Task 1 - List Slicing**

In [42]:
Li1 = [2,3,4,5,[45,56,67,78,[111,222,333,[5555,3333,[10000,50000,"python","computer"],1111,7777,8888],444,555,666,777],89,23,34]]

print(len(Li1))
print(Li1[3])
print(Li1[4][1])
print(Li1[4][4][1])
print(Li1[4][4][3][2][1])
print(Li1[4][4][3][2][3][3:6])
print(Li1[4][4][3][0])
print(Li1[4][4][3][4])
print(Li1[4][4][6])
print(Li1[4][5])
print(Li1[4][4][3][2][2][4:])
print(Li1[4][4][2])
print(Li1[4][4][3][1])

5
5
56
222
50000
put
5555
7777
666
89
on
333
3333

**Task 2 - Extract - #science & #computer**

In [47]:
a = [1,2,3,4,[100,101,102,"Computer_science"],200,203]

print(a[4][3][-7:])
print(a[4][3][:8])

science
Computer

**Task 3 - Extract #666 #201 #102 #999 #777**

In [56]:
a = [1,2,3,4,[101,102,103,[201,202,[999]], 666, 777]]

print(a[4][4])
print(a[4][3][0])
print(a[4][1])
print(a[4][3][2][0])
print(a[4][5])

666
201
102
999
777

**Task 4 - Extract #ll #thon**

In [59]:
Li1 = [2,3,"python","hello",4,5,0]

print(Li1[3][2:4])
print(Li1[2][2:])

ll
thon

**Task 5 - Output Prediction:**

Li1 = [1,2,3,4,5,[11,22,33,44,55,[111,222,333,444],6666,7777],7777]

1.   print(Li1[5][0]) #My prediction - 11
2.   print(Li1[5][6]) #My prediction - 6666
3.   print(Li1[5][-2]) #My prediction - 6666
4.   print(Li1[5][7]) #My prediction - 7777
5.   print(Li1[6]) #My prediction - 7777
6.   print(Li1[5][5][1]) #My predicition - 222
7.   print(Li1[-2][-1]) #My prediciton - 7777
8.   print(Li1[-2][2:4]) #My prediciton - 33, 44

**Task 6 - #py #ello #en #zoo #Bot**

In [68]:
a = {1: [1,2,3,"python"], 2:{10:"hello",20:"welcome",40: "science"}, 99: {3,4,5,6}, 40:{1:"zoology", 2:"Botany"}}

print(a[1][3][0:2])
print(a[2][10][1:4])
print(a[2][40][3:5])
print(a[40][1][0:3])
print(a[40][2][0:3])

py
ell
en
zoo
Bot

**Task 7 - Covert below two lists in to a dictionary**

In [75]:
a = [1,2,3,4,5]
b = ["python","cpp","c","java","php"]

c = dict(zip(a,b))
print(c)

{1: 'python', 2: 'cpp', 3: 'c', 4: 'java', 5: 'php'}

**Task 8 - Convert below set in to a list**

In [77]:
a_set = {5,4,3,6,2,7,1}
print(list(a_set))

[1, 2, 3, 4, 5, 6, 7]

**Task 9 - Remove duplicates from below list**

In [80]:
a = [5,4,3,6,2,7,1,2,3,4,1,2,3,4,5,6,5]
b = set(a)
c = list(b)
print(c)

[1, 2, 3, 4, 5, 6, 7]

**Task 10 - Convert below one to tuple**

In [81]:
ar = [5,4,3,6,2,7,1,2,3,4,1,2,3,4,5,6,5]
print(tuple(ar))

(5, 4, 3, 6, 2, 7, 1, 2, 3, 4, 1, 2, 3, 4, 5, 6, 5)