<a href="https://colab.research.google.com/github/ak2205/pythontraining2024/blob/main/PythonPracticeCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic integer operation

In [ ]:
10 + 15

25

Variable is a container to store variables. For linear or single use purposes/direct & simple executions, you may not need a variable. But for anything that requires some sort of dependency, it is a given to use variables.

In [5]:
a = "brandon is not a good boy"
a = a + "\n"+"achilles heel"
print(a)
print(len(a)) #string concatenation with more than one line

brandon is not a good boy
achilles heel
39

In [9]:
a = 7
b = 10

c = a + b #addition operation
d = a - b #subtraction operation
e = a * b #multiplication operation
f = a / b #division operation
g = a % b #modulus operator
h = a // b #floor division
i = a ** b #power operand

print(c, d, e, f, g, h, i, sep="*", end="\n")

17*-3*70*0.7*7*0*282475249

The above example is a case where I am just trying to print all values aided by a separator and in new lines, all at once. It returns an output that I am not familiar. I need explaination.

In [ ]:
#floor division practicing
print(-10//-3)
print(-4//9)
print(6//10)
print(20//-10)
print(40//6)

3
-1
0
-2
6

Below contains same codebase, except here I'm performing and printing operations one-by-one.

In [ ]:
a = 60
b = 7

c = a + b #addition operation
print (c)
d = a - b #subtraction operation
print(d)
e = a * b #multiplication operation
print(e)
f = a / b #division operation
print(f)
g = a % b #modulus operator
print(g)
h = a // b #floor division
print(h)
i = a ** b #power operand
print(i)

67
53
420
8.571428571428571
4
8
2799360000000

same codebase as above, now attempting to print it as list

In [ ]:
a = 45
b = 8
""" all kinds of operators
being put on show """
c = a + b #addition operation
d = a - b #subtraction operation
e = a * b #multiplication operation
f = a / b #division operation
g = a % b #modulus operator
h = a // b #floor division
i = a ** b #power operand

sampllist = [c, d, e, f, g, h, i]
print(sampllist)

[53, 37, 360, 5.625, 5, 5, 16815125390625]

Now, we casually explore type() to witness how machine helps us in interpreting the data type

In [ ]:
a = 22.53
b = 46
c = "leopard"
d = ["apple", 1234, 59.75, 4+6j, '@', False]
e = True
f = 7 + 4j

typeListing = [type(a), type(b), type(c), type(d), type(e), type(f)]

print(typeListing) #camelCase usage with type identification

[<class 'float'>, <class 'int'>, <class 'str'>, <class 'list'>, <class 'bool'>, <class 'complex'>]

In [10]:
a = 'cactus'
b = 'plants'

print(a+' '+b, end="\t") #string concatenation with spacing

cactus plants

In [ ]:
a=10
A=20

a = a + 10
A = a + 5

'''id() is a function used for unique identification value of object
stored in the memory'''

print("Identifier for variable a: ", id(a)) #printing desired output with a prefixed string
print("Identifier for variable A: ", id(A))

Identifier for variable a:  135449930351440
Identifier for variable A:  135449930351600

So far the concepts covered are: basic numerical operation, code creation and performing a range of arithmetic operations with two variables. Implementing best practices(taught so far) while writing code. Also using different data types in each of the practice codes.

In [ ]:
#Assignment Operator is always "="
#Comparison operator ===> always give boolean output
#< > <= >= != ==
#boolean datatype output
#samplen comparison operators

a = int(input("Enter an integer of your choice: "))
b = str(input("Enter a string of your choice: "))
c = int(input("Enter an integer of your choice: "))
d = str(input("Enter a string of your choice: "))

print(a>c)
print(a==c)
print(a!=c)
print(a<c)

Enter an integer of your choice: 99
Enter a string of your choice: Dartmouth
Enter an integer of your choice: 98
Enter a string of your choice: Brown
True
False
True
False

In [ ]:
#logical operators
a = 245
b = 244

print (a>b and a!=b)
print (a<b and a==b)
print(a>b or a==b)
print(a<b or a==b)

c="Columbia"
d="UPenn"

#membership operators || for loop, checking substring

print("z" not in c)
print("U" in d)
print("C" in d)

#ternary operators

a =  25
b = 30 if a < 20 else 20

print("The value of a is", a)
print("The value of b is", b)

True
False
True
False
True
True
False
The value of a is 25
The value of b is 20

Data Structures:

So far we have already implemented the concept of list.
Now we explore Set, tuple & dictionary

In [3]:
a = {1,2,3,4,5,6}
print(type(a))

b=10
c=(10,)

print(type(b))
print(type(c))

<class 'set'>
<class 'int'>
<class 'tuple'>

FUNCTIONS:

In [4]:
def sum_function(x,y):
  return x + y

print(sum_function(10,20))
print(sum_function(15,24))
print(sum_function(16,27))

30
39
43

In [12]:
val1 = "Damien"
val2 = "Martyn"
val3 = "Australia"
print(val1) #print(val1, end="\n")
print(val2, end="\t")
print(val3)
print("hello")

Damien
Martyn	Australia
hello

In [13]:
val1 = "Ricky"
val2 = "Thomas"
val3 = "Ponting"

print(val1, val2, val3, sep="\t")

Ricky	Thomas	Ponting

In [15]:
print(10,20,30,sep="\t")
print(14,23,32,sep="***")

#print function ==> end sep

print(14, end=" ")
print(26, end = "^^")
print("hello",end="\t")
print(130)
print(45 + 7j,end = "*")

print(10,20,30, sep="&&")

print(10)
print(20)
print(30,40,50,end="**",sep="^^")
print(60,70,end="80",sep="$$")
print(90)

10	20	30
14***23***32
14 26^^hello	130
(45+7j)*10&&20&&30
10
20
30^^40^^50**60$$708090