<a href="https://colab.research.google.com/github/ak2205/pythontraining2024/blob/main/Python_Lists_%26_its_Methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Lists:**

These are essentially one of the four kinds of data structure to store data for efficient identification. They are capable of storing multiple items in a single variable.

**Lists are to be created using square brackets.**

list_sample = ['a', 'a', {"mars", "earth"},('cricket', "football"), {"batsman": 'MS Dhoni'; "Bowler" : "Umesh"}, 12345, 47.50, 87+3j, ["apple", 'orange'], "@#$%^"]

A list can contain every possible kind of data types known to python.

List are usually **ordered** and any new inclusions are usually succeeded post their predecessors. Although, there are certain cases where Lists order can be subject to change.
Lists are allowed to have **duplicates** as well.

len() can be used to determine length of list.

you can also use list() constructor to make a list:

sampleList = list(("apple", "banana", "cherry"))
print(sampleList)

In [ ]:
list_sample = ['a', 'a', {"mars", "earth"}, ('cricket', "football"), {"batsman": 'MS Dhoni', "Bowler" : "Umesh"}, 12345, 47.50, 87+3j, ["apple", 'orange'], "@#$%^"]
print(list_sample)

sampleList = list(("apple", "banana", "orange"))
print(sampleList)

['a', 'a', {'earth', 'mars'}, ('cricket', 'football'), {'batsman': 'MS Dhoni', 'Bowler': 'Umesh'}, 12345, 47.5, (87+3j), ['apple', 'orange'], '@#$%^']
['apple', 'banana', 'orange']

# **List indexing/modification**

List items are indexed and can be accessed by their indexing positions.

List can contain positive or negative index and are certainly retrievable based on a range of indexes.

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

onelist = ["apple", "banana", "orange"]
print(onelist[-1])

daslist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(daslist[2:5])

dielist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(dielist[:4])

derlist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(derlist[2:])

dulist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(dulist[-4:-1])

sielist = ["apple", "strawberry", "grapes"]
if "apple" in sielist:
  print("Yes, 'apple' is in the fruits list")

banana
orange
['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']
Yes, 'apple' is in the fruits list

# **Modifying List Items**

Now we use indexes to perform operations like append, remove, merge, etc.,

**Change Item Value**

Change the second item

In [ ]:
Mylist = ["apple", "banana", "cherry"]
Mylist[1] = "blackcurrant"
print(Mylist)

['apple', 'blackcurrant', 'cherry']

**Change a Range of Item Values**

Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon"

In [ ]:
Sindlist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
Sindlist[1:3] = ["blackcurrant", "watermelon"]
print(Sindlist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

Change the second value by replacing it with two new values

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

# **List Methods**

1. append() - Able to add an item to List (at last usually)
2. insert() - Able to insert an item in a list with indexing
3. extend() - Extend existing list with list/tuple/set/dictionary
4. remove() - Able to remove by mentioning specific item in list.
5. pop() - To remove element by its specific index.
6. del - del List[index] or del List. It deletes the list.
7. clear() - List.clear() - removes all items of a list.
8. sort() - Sorts the list ascending by default.
syntax -> list.sort(reverse=True|False, key=myFunc)
9. copy() - returns copy of a list.
10. count() - can contain item or index, counts the occurrences of an item in list.
11. reverse() - reverses the order of a list.
12. index() - returns the position of a list.

In [ ]:
#List method - append() - to add an extra item, usually at end of list

AkileshList = ["Guindy", "Trichy", "Salem"]
AkileshList.append("Coimbatore")
print(AkileshList)

['Guindy', 'Trichy', 'Salem', 'Coimbatore']

In [ ]:
#List Method - insert() - to insert with indexing and item as arguments

PontingList = ["Clarke", "Watson", "Hayden"]
PontingList.insert(0, 2007)
print(PontingList)

[2007, 'Clarke', 'Watson', 'Hayden']

In [ ]:
#List method - extend() - to extend by iterating another list

ViratList = ["Kohli", 25, "Gayle", 45]
RishabhList = ["Hope", 44, "Shaw", 10]
ViratList.extend(RishabhList)
print(ViratList)

['Kohli', 25, 'Gayle', 45, 'Hope', 44, 'Shaw', 10]

In [ ]:
#List method - remove() - to remove by mentioning list item

KaneList = ["Guptill", "Allen", "Taylor", "Elliott"]
KaneList.remove("Allen")
print(KaneList)

['Guptill', 'Taylor', 'Elliott']

In [ ]:
#List method - pop()

KaneList.pop(1)
print(KaneList)

['Guptill', 'Elliott']

In [ ]:
maven = ["apache", "spark", "hadoop", "firebase", "lydia"]
del maven[4]
print(maven)

['apache', 'spark', 'hadoop', 'firebase']

In [ ]:
# del List method - deletes the list

print(ViratList, KaneList)
del KaneList
print(ViratList)
print(KaneList)

['Kohli', 25, 'Gayle', 45, 'Hope', 44, 'Shaw', 10] ['Guptill', 'Elliott']
['Kohli', 25, 'Gayle', 45, 'Hope', 44, 'Shaw', 10]

NameError: name 'KaneList' is not defined

In [ ]:
#Clear() list method

ViratList.clear()
print(ViratList)

[]