<a href="https://colab.research.google.com/github/ak2205/pythontraining2024/blob/main/RePracticeTodayTest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Question1: List**

Create two lists

[2,3,4,5,11,0]

[11,2,3,45,22,1]

Count number of common elements between them

In [ ]:
alist = [2,3,4,5,11,0]
blist = [11,2,3,45,22,1]
c = set(alist).intersection(blist)
print(c, "count of common elements is", len(c))

{3, 2, 11} count of common elements is 3

**Question2:**

Write a program to explain difference between soft copy and deep copy ?

In [ ]:
#soft copy

aa_list = [11,2,33,"Marcus",45]
print(f"Given list is {aa_list} and memory location is {id(aa_list)}")
ab_list = aa_list
print(f"Newer list after shallow copy is {ab_list} and memory location is {id(ab_list)}")
aa_list[4] = "Stoinis"
print(f"Change reflected in newer list? {ab_list} and memory location is {id(ab_list)}")

Given list is [11, 2, 33, 'Marcus', 45] and memory location is 137280713197504
Newer list after shallow copy is [11, 2, 33, 'Marcus', 45] and memory location is 137280713197504
Change reflected in newer list? [11, 2, 33, 'Marcus', 'Stoinis'] and memory location is 137280713197504

In [ ]:
#deep copy #modifications only visible in original list and not in latest list unlike shallow copy

ac_list = ["Jumbo", "Rodney", "Ghillian", "Damien"]
print(f"\nGiven list is {ac_list} and memory is {id(ac_list)}")
ad_list = ac_list.copy()
print(f"Newer list post deep copy is {ad_list} and memory is {id(ad_list)}")
ac_list[2] = "Marsh"
print(f"Change reflected?: {ad_list} and memory is {id(ad_list)}")

Given list is ['Jumbo', 'Rodney', 'Ghillian', 'Damien'] and memory is 137280714928256
Newer list post deep copy is ['Jumbo', 'Rodney', 'Ghillian', 'Damien'] and memory is 137281080668736
Change reflected?: ['Jumbo', 'Rodney', 'Ghillian', 'Damien'] and memory is 137281080668736

**Question 3:**

Create dictionary with below key value pairs
{1:"mon", 2:"Sat",3:"wed",4:"sun",0:"tues"}

Replace: sun with moon
update the dict with key value pair 7:"saturn"

In [ ]:
a_dict = {"1":"mon", "2": "Sat", "3": "wed", "4": "sun", "0": "tues"}
a_dict["4"] = "moon"
a_dict[7] = "saturn"
print(f"modified dict is {a_dict}")

modified dict is {'1': 'mon', '2': 'Sat', '3': 'wed', '4': 'moon', '0': 'tues', 7: 'saturn'}

**Question 4:**

Convert below two lists in to a dictionary:

[6,7,8,9,10]

[3,4,5,6,1]

In [ ]:
a_list = [6,7,8,9,10]
b_list = [3,4,5,6,1]
print(dict(zip(a_list,b_list)))

{6: 3, 7: 4, 8: 5, 9: 6, 10: 1}

**Question 5:**

Remove duplicate elements from below tuple (5,6,7,8,1,10,1,1,2,2,11)

In [ ]:
a_tuple = (5,6,7,8,1,10,1,1,2,2,11)
print(set(a_tuple))

{1, 2, 5, 6, 7, 8, 10, 11}

**Question 6**

Identify non common elements between two tuples

(1,2,3,4,5,6)

(5,6,7,8,9,10)

In [ ]:
aa_tuple = (1,2,3,4,5,6)
ab_tuple = (5,6,7,8,9,10)
print(set(aa_tuple).symmetric_difference(ab_tuple))

{1, 2, 3, 4, 7, 8, 9, 10}

**Question 7:**

Extract "sun" from below dictionary

Extract all values from the dictionary

Identify number of unique values in the dictionary

Extract number of unique keys from the below dictionary

{1:"monday", 2:"Satday",3:"wedday",4:"sunday",0:"tuesday", 5:"monday",6:"wedday"}

In [ ]:
aa_dict = {1:"monday", 2:"Satday",3:"wedday",4:"sunday",0:"tuesday", 5:"monday",6:"wedday"}
print(aa_dict[4][:3]) #extract sun
print(aa_dict.values()) #all values
print(len(set(aa_dict.values()))) #count of unique values
print(len(set(aa_dict.keys()))) #count of unique keys

sun
dict_values(['monday', 'Satday', 'wedday', 'sunday', 'tuesday', 'monday', 'wedday'])
5
7

**Question 8:**

Extract "yadirf" from the below list:

["monday","sunday","wednesday","thursday","friday"]

In [ ]:
af_list = ["monday", "sunday", "wednesday", "thursday", "friday"]
print(af_list[-1][::-1])

yadirf

**Question 9:**

Convert below dictionary values into a set:

{1:"monday", 2:"Satday",3:"wedday",4:"sunday",0:"tuesday", 5:"monday",6:"wedday"}

In [ ]:
aaa_dict = {1:"monday", 2:"Satday",3:"wedday",4:"sunday",0:"tuesday", 5:"monday",6:"wedday"}
print(set(aaa_dict.values()))

{'tuesday', 'sunday', 'monday', 'Satday', 'wedday'}

**Question 10:**

Concatenate keys and values of below dictionary in to a list and identify its length

{1:"mon", 2:"Sat",3:"wed",4:"sun",0:"tues"}

In [ ]:
aab_dict = {1:"mon", 2:"Sat",3:"wed",4:"sun",0:"tues"}
xc = list(aab_dict.keys())
xd = list(aab_dict.values())
xf = xc + xd
print(len(xf))

10

One liner code

In [ ]:
aab_dict = {1:"mon", 2:"Sat",3:"wed",4:"sun",0:"tues"}
print(f"Length of keys & values of above dict is {len(list(list(aab_dict.keys())+list(aab_dict.values())))}")

Length of keys & values of above dict is 10